# Dependencies
node_modules/
/client/node_modules
/server/node_modules

# Environment Variables
.env
server/.env
client/.env

# Production Build
/client/build
/client/dist
/dist

# IDE/System Files
.vscode/
.idea/
.DS_Store
*.log
npm-debug.log*

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini